.header {
    grid-area: header;
    background-color: coral;
    align-items: center;
}

.logoImage {
    width: 100px;
    height: 60px;
}

.loginBlock {
    float: right;
}

.loginBlock a {
    color: white;
    text-decoration: none;
}

.authSection {
    margin: 15px;
    color: white;
}