.formControl input,
.formControl textarea {
    border-radius: 5px;
}

.formControlError input,
.formControlError textarea {
    border: solid red 2px;
}

.errorMessage {
    color: red;
}

.summaryError span {
    padding-right: 10px;
    color: firebrick;
    font-weight: bold;
}