.app-wrapper {
  width: 1024px;
  height: auto;
  margin: 0 auto;
  display: grid;
  grid-template-areas: "header header"
                       "nav app-content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}

.app-wrapper-content {
  grid-area: app-content;
  background-color: aquamarine;
}